@use "config" as *;
// Wide screens
@include mediaXl {
  main {
    .lg-heading {
      font-size: 5rem;
    }
  }
  .bio,
  .job {
    font-size: 1.25rem;
  }
  main {
    min-height: calc(100vh - 40px);
  }
  #main-footer {
    font-size: 0.75rem;
    height: 40px;
  }
}

// Desktops and Laptops
@include mediaLg {
  h1.lg-heading {
    margin-bottom: 1.5rem;
  }
}

// Tablets & Small Laptops - (max-width: 768px)
@include mediaMd {
  main {
    align-items: center;

    .lg-heading {
      margin-bottom: 0.5rem;
      font-size: 4rem;
      max-width: 90%;
    }
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1rem;
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 65vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 35vh;
    transform: translate3d(100%, 0 0);

    .portrait {
      background: url("../img/portrait_small2.jpg");
      width: 150px;
      height: 150px;
    }
  }

  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";
    grid-template-columns: 1fr;
  }

  //Medium sized contact boxes on tablets
  .boxes .contactBoxes__email,
  .boxes .contactBoxes__phone {
    font-size: 1.5rem;
  }
  main {
    min-height: calc(100vh - 40px);
  }
  #main-footer {
    height: 40px;
  }
}

// Mobile - (max-width: 555px)
@include mediaSm {
  main#home h1 {
    margin-top: 10vh;
  }

  h1.lg-heading {
    margin-bottom: 1rem;
  }

  h1.lg-heading,
  h2.lg-heading {
    font-size: 3rem;
    font-weight: 600;
  }

  h2 {
    font-size: 1.1rem;
  }

  h3 {
    font-size: 0.9rem;
  }

  .bio-image {
    width: 50%;
  }

  .boxes .contactBoxes__email,
  .boxes .contactBoxes__phone {
    font-size: 1rem;
  }

  main {
    min-height: calc(100dvh - 40px);
  }

  #main-footer {
    font-size: 0.7rem;
    height: 40px;
  }

  .icons a {
    font-size: 0.75rem;
  }
}
