// Wide screens
@include mediaXl {
  main {
    .lg-heading {
      font-size: 7rem;
    }
  }
  .bio,
  .job {
    font-size: 1.25rem;
    }
}


// Desktops and Laptops
@include mediaLg {

}


// Tablets & Small Laptops - (max-width: 768px)
@include mediaMd {
  main {
    align-items: center;

    .lg-heading {
      margin-bottom: 1rem;
      font-size: 5rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0 ,0);
    }
  }

  .menu-nav {
    height: 65vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 35vh;
    transform: translate3d(100%, 0 0);

    .portrait {
      background: url('../img/portrait_small.jpg');
      width: 150px;
      height: 150px;
    }
  }

  .about-info {
    grid-template-areas:
    'bioimage'
    'bio'
    'job1'
    'job2'
    'job3';
    grid-template-columns: 1fr;
  }

  //Medium sized contact boxes on tablets
    .boxes .contactBoxes__email,
    .boxes .contactBoxes__phone {
      font-size: 1.5rem;
    }
}



// Mobile - (max-width: 500px)
@include mediaSm {
  main#home h1 {
    margin-top: 10vh;
  }

  h1.lg-heading {
    font-size: 3rem;
    font-weight: normal;
  }

  #main-footer {
    font-size: .6rem;
  }

  //Make bio image take up less space on mobile
    .bio-image {
      width: 50%;
    }

  //Smallest contact boxes on mobile
    .boxes .contactBoxes__email,
    .boxes .contactBoxes__phone {
      font-size: 1rem;
    }
}
